# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-List popular languages for Data Science
-List popular tools for data science
-List popular development environments for data science
-Perform simple operations on Jupyter notebook

## Author
Sricharan Rajagopal

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335